<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
<head>
    {{- partial "head/head.html" . -}}
    {{- block "head" . -}}{{ end }}
</head>
<body class="{{ block `body-class` . }}{{ end }}">
{{- partial "head/colorScheme" . -}}
{{/* The container is wider when there's any activated widget */}}
{{- $hasWidget := false -}}
{{- range .Site.Params.widgets -}}
    {{- if gt (len .) 0 -}}
        {{- $hasWidget = true -}}
    {{- end -}}
{{- end -}}
<div class="container main-container flex on-phone--column {{ if $hasWidget }}extended{{ else }}compact{{ end }}">
    {{- block "left-sidebar" . -}}
        {{ partial "sidebar/left.html" . }}
    {{- end -}}
    {{- block "right-sidebar" . -}}{{ end }}
    <main class="main full-width">
        {{- block "main" . }}{{- end }}
    </main>
</div>
{{ partial "footer/include.html" . }}



</body>
</html>


<script src="https://l2dwidget.js.org/lib/L2Dwidget.min.js"></script>
<script>
// 不同人物形象
// 黑猫猫
hijiki = "https://unpkg.com/live2d-widget-model-hijiki@1.0.5/assets/hijiki.model.json"
// 白猫猫
tororo = "https://unpkg.com/live2d-widget-model-tororo@1.0.5/assets/tororo.model.json"

    L2Dwidget.init({
        "model": {
            // 在这里使用上面的人物名称替换可以切换人物形象
            jsonPath: hijiki,
            "scale": 1
        },
        "display": {
            "superSample": 9,     // 超采样等级，相当于清晰度，数值越高越清晰
            "position": "left", //切换显示位置的左右
            "width": 174,
            "height": 332,
            "hOffset": 120, // canvas水平偏移，正方向为右
            "vOffset": 68 // canvas垂直偏移
        },
        "mobile": {
            "show": false, //在手机端显示
            "scale": 1, // 移动设备上的缩放
            "motion": false, // 移动设备是否开启重力感应
        },
        "react": {
            "opacityDefault": 1, // 默认透明度
            "opacityOnHover": 1 // 鼠标移上透明度
        }
    });
</script>

