
{{ define "main" }}
  <!-- index.html or home.html -->
  <div id="text">
    <p style="font-size: 3rem; text-align: center; font-weight: bold; color: var(--card-text-color-secondary);"></p> 
  </div>
  <!-- ... other HTML content ... -->
  
  <script>
    let divTyping = document.querySelector('#text p');
    let i = 0,
      timer = 50,  // 修改为适当的时间间隔，以控制打字速度
      str = 'Humo sum, humani nihil ame alienum puton.';  // 修改为自己想打的字
  
    function typing() {
      if (i <= str.length) {
        divTyping.innerHTML = str.slice(0, i++) + '_';
        timer = setTimeout(typing, timer);
      } else {
        divTyping.innerHTML = str; // 结束打字，移除 _ 光标
        clearTimeout(timer);
      }
    }
  
    typing();
  </script>



    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
       
            {{ partial "article-list/default" . }}
           
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}



{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
