/* 更换背景 */
:root {
  --body-background: #f3d6c8;
  --accent-color: #1B365D;
  --accent-color-darker: #3a2044;
  --accent-color-text: #FFF;
  --body-text-color: #001858;
}

:root {
  --card-background: #fef6e4;
  --card-background-selected: #fbdaf8;
  --card-text-color-main: #202A44;
  --card-text-color-secondary: #53565A;
  --card-text-color-tertiary: #172c66;
}

.article-list article:nth-child(n) .article-category a {
  background: #001858!important;
  color: #fff;
}

.article-category a, .article-tags a {
  background-color: #f582ae!important;
  color: #fff;
}


:root {
  /* 亮色模式 */
  --section-total-count-color-light: #001858; /* 设置亮色模式下的文本颜色 */

  /* 暗色模式 */
  --section-total-count-color-dark: #fff; /* 设置暗色模式下的文本颜色 */

  /* 其他样式变量... */
}

/* 在需要使用 section total count 的地方，使用以下代码 */
.section-total-count {
  color: var(--section-total-count-color-light); /* 默认为亮色模式下的颜色 */

  /* 在暗色模式下，覆盖颜色为暗色模式下的颜色 */
  &[data-scheme="dark"] {
      color: var(--section-total-count-color-dark);
  }
}

/* -------------------------动画部分--------------------------------------------- */

/* 头像旋转动画 */
.sidebar header .site-avatar .site-logo {
  transition: transform 1.65s ease-in-out; /* 旋转时间 */
}

.sidebar header .site-avatar .site-logo:hover {
  transform: rotate(360deg); /* 旋转角度为360度 */
}



/* 主页布局间距调整 */
.main-container {
  gap: 40px; // 文章宽度
  @include respond(md) {
      padding: 0 30px;
      gap: 40px; // 中等屏幕时的文章宽度
  }
}

.related-contents {
  overflow-x: visible; // 显示隐藏的图标
  padding-bottom: 15px;
}

/* ----------------------------------主页文章图片样式------------------------------------ */
$image-scale: 1.2;
.article-list article .article-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  
  // 不同显示器（手机，小屏幕电脑，大屏幕电脑）显示的图片高度大小
  @include respond(sm) {
      height: 305px;
  }

  @include respond(md) {
      height: 305px;
  }

  @include respond(xl) {
      height: 325px;
  }
}

/* 主页文章图片圆角 */
.article-list article {
  --card-border-radius: 24px;
}

/* 文章标签圆角 */
.article-category a, .article-tags a {
  border-radius: 11px;
}

/* 鼠标移动到文章图片放大 */
.article-list article .article-image {
  position: relative;
  overflow: hidden; /* 不显示超出的部分 */
}

/* 鼠标移动到文章图片放大 */
.article-list article .article-image {
  position: relative;
  overflow: hidden; /* 不显示超出的部分 */
}

// 在文件的顶部定义 $image-scale 变量
$image-scale: 1.2;

/* 主页文章图片样式 */
.article-list article .article-image img:hover {
  transform: scale($image-scale); /* 放大尺寸 */
}

.article-list article .article-image img {
  transition: transform 0.85s ease-in-out; /* 持续时间 */
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* 文章内部-页脚-相关文章图片圆角 */
.article-list--compact article .article-image img {
  border-radius: 17%;
}

/* 文章内部-页脚-相关文章图片放大动画 */
.article-list--compact article > a {
  transition: 0.6s ease;
}

.article-list--compact article > a:hover {
  transform: scale(1.03, 1.03);
  overflow: visible;
}



/* ---------------------------------------右侧导航栏----------------------------------- */
/* 搜索菜单动画 */
.search-form.widget {
  transition: transform 0.6s ease;
}

.search-form.widget:hover {
  transform: scale(1.1, 1.1);
}

/* 归档小图标放大动画 */
.widget.archives .widget-archive--list {
  transition: transform 0.3s ease;
}

.widget.archives .widget-archive--list:hover {
  transform: scale(1.05, 1.05);
}

/* 右侧标签放大动画 */
.tagCloud .tagCloud-tags a {
  border-radius: 10px;
  font-size: 1.4rem;
  transition: transform 0.3s ease;
}

.tagCloud .tagCloud-tags a:hover {
  transform: scale(1.1, 1.1);
}

/* -------------------------------------归档页面-------------------------------------- */
/* 归档页面卡片缩放 */
.article-list--tile article {
  transition: 0.6s ease;
}

.article-list--tile article:hover {
  transform: scale(1.03, 1.03);
}

// 归档页面四栏
@media (min-width: 1024px) {
  .article-list--compact {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      background: none;
      box-shadow: none;
      gap: 1rem;

      article {
          background: var(--card-background);
          border: none;
          box-shadow: var(--shadow-l2);
          margin-bottom: 8px;
          border-radius: 16px;
      }
  }
}

/* ----------------------------------------*-链接页面------------------------------------------ */
/* 友情链接设置成三栏样式 */
@media (min-width: 1024px) {
  .article-list--compact.links {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background: none;
      box-shadow: none;
      gap: 1rem;

      article {
          background: var(--card-background);
          border: none;
          box-shadow: var(--shadow-l2);
          margin-bottom: 8px;
          border-radius: var(--card-border-radius);

          &:nth-child(odd) {
              margin-right: 8px;
          }
      }
  }
}


/* ------------------------------------调整目录&菜单---------------------------------- */
/* toc style */
.toc {
  position: fixed;
  top: 50%;
  right: 10%;
  width: 10%;
  transform: translateY(-50%);
  /*background-color: #f6f6f6;*/
  /*border: solid 1px #c9c9c9;*/
  border-radius: 5px;
  padding-bottom: 1rem;
}

.toc .page-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.toc-nav ul {
  overflow:hidden;
  white-space:nowrap;
  line-height: 1rem;
}

/* ignore h1 header */
.toc-nav ul ul ul {
  margin-left: 2rem;
}

.toc-nav .nav-link {
  text-overflow:ellipsis;
  overflow:hidden;
  color: #333;
}

.toc-nav li.active .nav-link {
  background-color: #f6f6f6;
  color: var(--accent);
  border-left: solid 2px var(--accent);
}

/* Media Queries */
@media (max-width: 1080px) {
  main {
      max-width: 100%;
  }
  .toc {
      display: none;
  }
}


/*------------------------------修改页面布局--------------------------*/
.container {
  margin-left: auto;
  margin-right: auto;

  &.extended {
      /* range: 768-1024 */
      @include respond(md) {
          max-width: 1024px;
          --left-sidebar-max-width: 25%;
          --right-sidebar-max-width: 30%;
      }

      /* range: 1024-1280 */
      @include respond(lg) {
          max-width: 1280px;
          --left-sidebar-max-width: 25%;
          --right-sidebar-max-width: 22%;
      }
  }

  &.compact {
      @include respond(md) {
          --left-sidebar-max-width: 25%;
          max-width: 768px;
      }

      @include respond(lg) {
          max-width: 1024px;
          --left-sidebar-max-width: 20%;
      }

      @include respond(xl) {
          max-width: 1280px;
      }
  }
}

/*--------------------------滚动条修改--------------------------*/
html{
  ::-webkit-scrollbar {
      width: 20px;
    }
    
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }
}



